body {
    padding: 0;
    margin: 0 auto;
}

div {
    height: 30%;
    width: 100%;
}

.inputdiv {
    text-align: center;
}

.chartDiv {
    align-content: center;
}

canvas {
    align-content: center;
}

.inputDiv {
    display: flex;
    height: 90px;
    width: 45%;
    margin: 0 auto;
}

.header-title {
    width: 20%; 
    margin: 0 auto;
    white-space: nowrap;
}

.input-box {
    border: 1px solid black;
    position: relative;
    margin: 0 auto;
    height: 90px;
    width: 350px;
}

.header {
    height: 110px; 
    margin: 0 auto;
    height: 110px;
    margin: 0 auto;
    background-color: rgba(12,122,92,0.2);
}

.chart {
    position: relative;
    margin: 0 auto;
}